<div class="container">
  {{ isSubmitting$ | async }}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="text-center mt-5">Sign Up</h1>
      <p class="text-center">
        <a [routerLink]="['/login']">Have an account?</a>
      </p>
      <app-backend-error-messages *ngIf="backedErrors$ | async" ></app-backend-error-message> 
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form-group">
            <!-- Show the Field is Required Using the Label -->
            <label class="form-label mt-4"
              >User Name
              <span
                class="text-danger"
                *ngIf="
                  form.get('username')?.errors &&
                  form.get('username')?.hasError('required')
                "
                >*</span
              ></label
            >
            <!-- Show the Validation State Using the Field -->
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="username"
              [class.is-valid]="
                form.get('username')?.valid &&
                (form.get('username')?.dirty || form.get('username')?.touched)
              "
              [class.is-invalid]="
                form.get('username')?.invalid &&
                (form.get('username')?.dirty || form.get('username')?.touched)
              "
            />
            <!-- Show Each of the Validation Error Messages -->
            <div
              *ngIf="form.get('username')?.hasError('required')"
              class="invalid-feedback"
            >
              This field is required.
            </div>
            <div
              *ngIf="form.get('username')?.hasError('pattern')"
              class="invalid-feedback"
            >
            A field name cannot start with a blank space.
            </div>
          </div>
          <div class="form-group">
            <label class="form-label mt-2"
              >Email
              <span
                class="text-danger"
                *ngIf="
                  form.get('email')?.errors &&
                  form.get('email')?.hasError('required')
                "
                >*</span
              >
            </label>
            <input
              type="email"
              class="form-control form-control-lg"
              formControlName="email"
              [class.is-valid]="
                form.get('email')?.valid &&
                (form.get('email')?.dirty || form.get('email')?.touched)
              "
              [class.is-invalid]="
                form.get('email')?.invalid &&
                (form.get('email')?.dirty || form.get('email')?.touched)
              "
            />
            <div
              *ngIf="form.get('email')?.hasError('required')"
              class="invalid-feedback"
            >
              This field is required.
            </div>
            <div
              *ngIf="form.get('email')?.hasError('email')"
              class="invalid-feedback"
            >
              Invalid email address.
            </div>
          </div>
          <div class="form-group">
            <label class="form-label mt-2"
              >Password
              <span
                class="text-danger"
                *ngIf="
                  form.get('password')?.errors &&
                  form.get('password')?.hasError('required')
                "
                >*</span
              >
            </label>
            <input
              type="password"
              class="form-control form-control-lg"
              formControlName="password"
              [class.is-valid]="
                form.get('password')?.valid &&
                (form.get('password')?.dirty || form.get('password')?.touched)
              "
              [class.is-invalid]="
                form.get('password')?.invalid &&
                (form.get('password')?.dirty || form.get('password')?.touched)
              "
            />
            <div
              *ngIf="form.get('password')?.hasError('required')"
              class="invalid-feedback"
            >
              This field is required
            </div>
            <div
              *ngIf="form.get('password')?.hasError('minlength')"
              class="invalid-feedback"
            >
              The minimum length for this field is
              {{
                form.get("password")?.errors?.['minlength'].requiredLength
              }}
              characters.
            </div>
          </div>
        </fieldset>
        <!-- Disable the Submit Button -->
        <button
          class="btn btn-lg btn-primary pull-right mt-4 float-end"
          type="submit"
          [disabled]="form.invalid || (isSubmitting$ | async)"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
